<div class="row top-buffer">
    <% if rentals.empty? %>
      <div class="panel-heading">There are no books</div>
    <% else %>
      <% rentals.each do |rental| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <div class = "caption">

            <h3><%= rental.book.title %></h3>
            <h5>
              <%= rental.book.author %>
            </h5>
            <h5>
              <%= rental.user.email %>
            </h5>

            <h6><%= rental.status %></h6>
            <p><%= link_to "Show book", rental.book, class: "btn btn-default" %></p>

          </div>
        </div>
      </div>
    <% end %>
  <% end %>


</div>
