<div class="panel-heading">
        <h1><%= @book.title %></h1>
        <h3><%= "Author: #{@book.author}" %></h3>
        <h6><%= "Publisher #{@book.publisher}" %></h6>
        <h6>
          <span><%= "Description: #{@book.description}" %></span>
        </h6>

        <% if !@book.rentals.activeRentedBook(@book.id).first.present? %>
          <%= link_to "Borrow", borrow_book_path(@book), class: "btn btn-primary", method: :post %>
        <% else %>
          <% if @book.rentals.activeRentedBook(@book.id).first.user == current_user %>
            <%= link_to "Return", return_book_path(@book), class: "btn btn-primary", method: :post %>
          <% end %>
        <% end %>

        <%= link_to "Edit", edit_book_path(@book), class: "btn btn-primary" %>

        <h2>Rentals</h2>
        <%= render "rentals/index", rentals: @book.rentals.byBookOrderByStatus(@book.id) %>
</div>
